.createWorkoutGUI {
    width: 80%;
    height: 400px;
    background-color: azure;
    border: solid;
    margin: 2em;
}

.timer {
    width: 80%;
    height: 300px;
    background-color: azure;
    border: solid;
    margin: 2em;
}

.activityBox {
    padding-top: 20px;
}

#displayTimer {
    font-size: 40px;
    font-weight: bold;
}

.workoutName {
    padding-top: 20px;
}

section {
    text-align: center;
}

.workoutGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-bottom: 30px;
}

.customWorkoutGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-bottom: 30px;
}

.workoutRow {
    display: contents;
    /* This makes the .workoutRow act as if it's not there, allowing its children to sit on the grid */
    padding: 5px;
}

.subheadings {
    font-size: large;
}

.customWorkoutRow button {
    width: 8em;
    height: 5em;
    font-size: large;
}